.loaderContainer {
  text-align: center;
  padding: var(--mantine-spacing-xl) 0;
}

.loaderText {
  margin-top: var(--mantine-spacing-md);
  color: var(--mantine-color-dimmed);
}

.container {
  padding: var(--mantine-spacing-xl) 0;
}

.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-xl);
  text-align: center;
}
